<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://jrangotech.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jrangotech.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JRangoTech</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JRangoTech</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:av9y5zmrhk.database.windows.net,1433;Initial Catalog=JRangoTech_db;User ID=jrango@av9y5zmrhk;Password=RJR#marlboro1%A" Name="Data Source=tcp:av9y5zmrhk.database.windows.net,1433;Initial Catalog=JRangoTech_db;User Id=jrango@av9y5zmrhk;Password=RJR#marlboro1%A" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JRangoTech-20150803080506.mdf;Initial Catalog=aspnet-JRangoTech-20150803080506;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JRangoTech-20150803080506.mdf;Initial Catalog=aspnet-JRangoTech-20150803080506;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:av9y5zmrhk.database.windows.net,1433;Initial Catalog=JRangoTech_db;User Id=jrango@av9y5zmrhk;Password=RJR#marlboro1%A</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>